*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: #414141;
}

.main-heading{
    text-align: center;
    color: rgb(79, 111, 159);
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

form {
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}


label, input {
    display: inline-block;
    margin: 10px 0; 
}


label{
    font-size: 25px;
    color: rgb(250, 249, 247);
}

input {
    width: 200px;
    height: 30px;
    padding: 5px 10px;
    margin-left: 10px; 
    border: 2px solid rgb(102, 167, 171);
    border-radius: 5px;
    font-size: 16px;
    color: rgb(0, 128, 109);
}


#submit {
    display: block;
    margin: 20px auto;
    width: 120px;
    height: 40px;
    background-color: rgb(75, 75, 203);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(55, 55, 180);
}

#answer {
    text-align: center;
    margin-top: 50px;
    display: none;
    font-size: 22px;
    transition: all 0.5s ease;
}

